.app-loading {
    .logo {
      width: 64px;
      height: 64px;
      opacity: .5;
      background: url(./assets/xilo_icon_only.png) center center no-repeat;
      background-size: cover;
    }
  }